html, 
body {
    height: 100%;
    width: 100%;
    position: relative;
    touch-action: auto;
}

body {
    margin: 0;
    display: flex;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    flex: 1;
    background-color: #34363a;
    overflow: auto;
    position: relative;
}

.general-login {
    background-image: url(/assets/fifaTeste.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-options {
  position: absolute;
  display: flex;
  top: -55px;
  width: 180px;
  right: 0;
  justify-content: space-between;
}

.console-options>div,
.console-options>div>img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ps4-option {
  background-image: url('/src/web/public/assets/ps4.png')
}
h1 {
    margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffffe6;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #823eef;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #6131ad;
}
.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 12px;
}
.form .message a {
  color: #823eef;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.loader,
.chart-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 450px;
}

.chart-space {
  position: relative;
}

.chart-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #34363a;
}

.no-data-found {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 450px;
  color: white;
  font-family: monospace;
  font-size: 24px;
}

.top-line-body>.red-variation {
  color: red;
}

.top-line-body>.green-variation {
  color: green;
}

