.navigation {
    background-color: #3eb9d8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: monospace;
    font-size: 19px;
}

.navigation a {
    text-transform: none;
    text-decoration: none;
    padding: 8px;
    color: rgb(251, 233, 255);
    font-weight: 560;
}

.navigation>a.selected {
    color: white;
}